#####################################################################
#  MCU and UUID Settings
#####################################################################

[mcu]
canbus_uuid: fb261e8d1877

[mcu EBBCan]
canbus_uuid: 39045bac5081

#[mcu eddy]
#canbus_uuid: d435edf043d7