#####################################################################
#  MCU and UUID Settings
#####################################################################

[mcu]
canbus_uuid: fb261e8d1877

[mcu EBBCan]
canbus_uuid: 39045bac5081

[mcu scanner]
canbus_uuid: c7191b734821 
#serial: /dev/serial/by-id/usb-cartographer_cartographer_
#    adjust to suit your scanner, if using usb change to serial